<?php

$GLOBALS['TYPO3_CONF_VARS']['SYS']['encryptionKey'] = '[[ RANDOM ENCRYPTION KEY ]]';

$GLOBALS['TYPO3_CONF_VARS']['DB']['Connections']['Default'] = array_merge(
    $GLOBALS['TYPO3_CONF_VARS']['DB']['Connections']['Default'],
    [
        'dbname' => '[[ DATABASE ]]',
        'host'     => '[[ HOST ]]',
        'password' => '[[ PW ]]',
        'port'     => 3306,
        'user' => '[[ USER ]]',
    ]
);

$GLOBALS['TYPO3_CONF_VARS']['BE'] = array_merge(
    $GLOBALS['TYPO3_CONF_VARS']['BE'],
    [
        'installToolPassword'     => '[[ CUSTOM INSTALLTOOL PW ]]',
        'loginSecurityLevel'      => 'normal',
        'versionNumberInFilename' => '0',
        'debug'                   => 1,
    ]
);

// [Optional] If you want to use GraphicsMagick for ImageProcessing
//
// $GLOBALS['TYPO3_CONF_VARS']['GFX'] = array_merge(
//     $GLOBALS['TYPO3_CONF_VARS']['GFX'],
//     array(
//         'im_path' => '[[ PATH TO GraphicsMagick ]]',
//         'im_path_lzw' => '[[ PATH TO GraphicsMagick ]]',
//         'im_version_5' => 'gm',
//     )
// );

// [Optional] Some usefull settings
//
// $GLOBALS['TYPO3_CONF_VARS']['FE']['versionNumberInFilename'] = '';
// $GLOBALS['TYPO3_CONF_VARS']['SYS']['clearCacheSystem'] = true;
// $GLOBALS['TYPO3_CONF_VARS']['SYS']['devIPmask'] .= ',127.0.0.1';
// $GLOBALS['TYPO3_CONF_VARS']['SYS']['displayErrors'] = 1;
// $GLOBALS['TYPO3_CONF_VARS']['MAIL']['transport'] = 'mail';

// [Optional] Mailversand mit nginx-proxy
// 
// $GLOBALS['TYPO3_CONF_VARS']['MAIL'] = array_merge(
//     $GLOBALS['TYPO3_CONF_VARS']['MAIL'],
//     array(
//         'transport' => 'smtp',
//         'transport_smtp_server' => 'mailhog:1025',
//         'defaultMailFromAddress' => '###Eine Emailadresse###',
//         'defaultMailFromName' => '###Euer Name###',
//     )
// );
