!.gitignore
!.gitkeep
!index.html

### eclipse files
/.buildpath
/.project
/.settings

### netbeans files
/nbproject/

### mac os x files
*.DS_Store
.idea

### serverfiles
/.bash_history
/.ssh
/.viminfo

# qs files
.php_cs.cache

### composer files
/bin
/vendor

### typo3 src and extensions
/htdocs/typo3
/htdocs/index.php

### ignore the var folder, but allow to committ the translation labels
/var/*
!/var/labels

### typo3 files
/var/transient/ENABLE_INSTALL_TOOL
/config/ENABLE_INSTALL_TOOL
/config/system/credentials.php
/htdocs/.htaccess
/htdocs/MAINTENACE_MODE

### the following folder are inserted via NFS Mount or symlinkes as shared dirs (deployer) in all environments.
### therefore they can't be kept in git as they are inserted in different way in the environments
/htdocs/fileadmin
/htdocs/typo3temp
/htdocs/uploads

### auto generated
/htdocs/_assets
